@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <button type="button" class="btn btn-primary">
       <a class="text-black text-decoration-none" asp-area="" asp-controller="Home" asp-action="RealizarPago">Realizar Pago</a>
   </button>
</div>


